<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18347432152-37qnivdj918vqrq97n4vue2t35q25ngo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18347432152-37qnivdj918vqrq97n4vue2t35q25ngo</string>
	<key>API_KEY</key>
	<string>AIzaSyBW6k_NO7jPa16g1cGyh2gEKgAl_2cGKw0</string>
	<key>GCM_SENDER_ID</key>
	<string>18347432152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veew.nsFireMessage2</string>
	<key>PROJECT_ID</key>
	<string>nsfiremessage</string>
	<key>STORAGE_BUCKET</key>
	<string>nsfiremessage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18347432152:ios:6c1036a94119435c755fad</string>
	<key>DATABASE_URL</key>
	<string>https://nsfiremessage.firebaseio.com</string>
</dict>
</plist>